@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  :global(.container)> :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 80px;
      height: 85px;
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 2px;

      &:hover,
      &.active {
        background-color: $primary;
        color: #ffffff;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 996px) {
  .root {
    height: 131px;
  }
}

@media (max-width: 575px) {
  .root {
    .menu {
      width: 15%;
    }

    .productSearch {
      width: 85%;
    }

    .button:focus {

      box-shadow: none;
    }

    .icon:hover {
      color: $primary;
    }
  }

  .navbarMenu {
    position: absolute;
    width: 100vw;
    left: -570%;
    top: 100%;
  }
}