@import '../../../styles/settings.scss';

.sales {
  margin: 30px 0 60px 0;
  display: flex;
  height: 450px;

  .leftSide {
    position: relative;
    height: 450px;
    width: 50%;

    img {
      height: 450px;
      width: 100%;
      object-fit: cover;
    }

    .saleDescription {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 88%;
      width: 90%;
      position: absolute;
      top: 6%;
      left: 5%;
      background-color: rgba(94, 94, 94, 0.8);
      color: $alt-text-color;

      h3 {
        margin-left: 20px;
        font-size: 34px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 40px;

        span {
          font-size: 56px;
          font-weight: 700;
        }
      }

      p {
        text-align: center;
        padding: 0 5px;
        font-size: 48px;
        width: 140px;
        font-weight: 600;
        border: solid $white 4px;
        margin-left: 20px;
      }
    }
  }

  .rightSide {
    width: 50%;
    margin-left: 30px;

    .topSection {
      position: relative;
      height: 210px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $blue;
      overflow: hidden;

      .topDescription {

        h3 {
          font-size: 30px;
          position: relative;
          text-transform: uppercase;
          font-weight: 400;

          .bold {
            font-weight: 800;
          }

          .letterSpacing {
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 20px;
          }

          p {
            line-height: 45px;
            color: $primary;
            font-weight: 700;
            margin: 0;
          }
        }
      }

      .productLeft {
        height: 215px;
        position: relative;
        left: -5%;
        width: auto;
        object-fit: cover;
      }

      .productRight {
        position: relative;
        right: -2%;
        top: -2%;
        height: 225px;
        width: auto;
        object-fit: cover;
      }
    }

    .bottomSection {
      position: relative;
      overflow: hidden;
      background-color: $pink;
      margin-top: 30px;
      height: 210px;
      display: flex;
      justify-content: space-between;

      img {
        position: relative;
        height: 230px;
        left: -7%;
        top: -3%;
      }

      .bottomDescription {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        margin-right: 25px;

        h3 {
          font-size: 27px;
          color: $primary;
          font-weight: 400;

          span {
            font-weight: 700;
          }
        }

        p {
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 460px) {

  .sales {
    display: inline;

    .leftSide {
      width: 100%;
    }

    .rightSide {
      margin: 30px 0 40px 0px;
      width: 100%;

      .topSection {
        .topDescription {
          margin-left: 25px;
        }

        .productLeft {
          display: none;
        }
      }

      .bottomSection {
        justify-content: end;

        img {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 461px) and (max-width: 932px) {
  .sales {
    display: inline;

    .leftSide {
      width: 100%;
    }

    .rightSide {
      margin: 30px 0 40px 0px;
      width: 100%;

      .topSection {
        .topDescription {
          margin-left: 25px;
        }
      }

      .bottomSection {
        justify-content: end;

        .bottomDescription {
          align-items: end;
        }
      }
    }
  }
}