@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 0 0 0 0;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;
    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }
    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: #ffffff;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: none;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -2.2px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.root:hover {
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .price {
    display: flex;
    background-color: $primary;
  }
}

.active {
  background-color: $primary;
  border: none;
   svg {
    color: #ffffff;
  }
}

.outlineButton {
margin-right: 4px;
}

.oldPrice {
  font-size: 15px;
  color: grey;
  text-decoration: line-through;
  margin-left: 115px;
}

@media (max-width: 767px) {
  .oldPrice {
    margin-left: 210px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .oldPrice {
    margin-left: 160px;
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .oldPrice {
    margin-left: 80px;
  }
}