  @import '../../../styles/settings.scss';

  .stars {
  
    a {
      text-decoration: none;
      color: black;
    }
    
    &:has(a:hover) {
      a {
        color: $primary;
      }
      
      a:hover ~ a {
        color: black;
      }
      
    }
  
    .userRated {
      color: $primary;
    }
  }