@import '../../../styles/settings.scss';

.gallery {
  height: 600px;
  display: flex;
  margin: 30px 0 60px 0;

  .rightSide {
    width: 43%;
    background-color: $blue;
    margin-left: 30px;

    .description {
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      margin-top: 70px;
    }

    img {
      position: relative;
      height: 320px;
      width: auto;
      left: 270px;
      bottom: 30px;
    }

    .shopNow {
      width: 150px;
      color: $alt-text-color;
      background-color: $green;
      padding: 15px;
      text-align: center;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 30px;
    }

    p {
      line-height: 30px;

      &.price {
        font-weight: 700;

        span {
          color: $green;
          font-size: 45px;
          font-weight: 700;
        }
      }

      &.title {
        color: $primary;
        font-size: 50px;
        font-weight: 700;
      }
    }
  }

  .leftSide {
    width: 56%;

    h3 {
      position: relative;
      color: $primary;
      text-transform: uppercase;
      font-size: 21px;
      border-bottom: 4px solid $super-light-gray;
      padding-bottom: 7px;

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .navigation {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;

      a {
        display: flex;
        width: 25%;
        color: $text-color;
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        align-items: center;
        justify-content: center;

        &:hover,
        &.active {
          color: $primary;
          background-color: $pink;
          border-top: 3px solid $primary;
        }

      }
    }

    .slider {

      .productBox {

        .swiper {
          height: 413px;
       
          .slide {
            position: relative;

            img {
              height: 407px;
              object-fit: cover;
              width: auto;
            }

            .actions {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 50%;
            }

            .rating{
              position: absolute;
            }

            .prices {
              position: absolute;
            }
          }
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #000; // Kolor przycisków nawigacji
  }

  .swiper-pagination-bullet {
    background-color: #000; // Kolor paginacji
  }

  .swiper-pagination-bullet-active {
    background-color: #ff0000; // Kolor aktywnej paginacji
  }
}